README.md
LICENSE
.git*
**/*~
**/*.bak
**/*.zwc
.config/zsh/.zsh_history*
.config/zsh/RELATORIO.md
.config/zsh/.git/**
.config/hypr/backup_conf/**
.config/hypr/hyprlock/Untitled-1.md

{{- if ne .chezmoi.os "linux" }}
.config/hypr/**
.config/vicinae/**
.config/quickshell/**
{{- end }}

{{- if eq .chassisType "headless" }}
.config/hypr/**
.config/kitty/**
.config/vicinae/**
.config/quickshell/**
{{- end }}
